!!! 5
html(lang='hu')
  head
    base(href="/")
    meta(charset='utf-8')
    meta(description=page.desc)
    title= page.title
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    script(src="/js/jquery-1.9.1.min.js")
    script(src="/js/config.js")
    script(src="/js/skel.min.js")
    script(src="/js/moment.min.js")
    link(rel="stylesheet", href="/css/opengov.css")
    noscript
      link(rel="stylesheet", href="/css/skel-noscript.css")
      link(rel="stylesheet", href="/css/style.css")
      link(rel="stylesheet", href="/css/style-desktop.css")
    //if lte IE 9
      link(rel="stylesheet", href="/css/ie9.css")
    //if lte IE 8
      script(src="js/html5shiv.js")
      link(rel="stylesheet", href="/css/ie8.css")
    //if lte IE 7
      link(rel="stylesheet", href="/css/ie7.css")

  body
    // Nav
    nav(id="nav")
      ul
        li.logo
          =locals.site

    // Home
    div.wrapper.wrapper-style1.wrapper-first
      article#top.container
        .row
          .4u
            span.me.image.image-full
              img(src="/images/tudas.jpg", alt="")
          .8u
            header
              span.state= page.metadata.state
              span.date &nbsp;#{ moment(page.date).format('YYYY.MM.DD')}
              p= page.metadata.desc
              h1
                strong= page.title
              p
                = page.metadata.preface

    // Content
    div.wrapper.wrapper-style1
      article#work
        header
          h2= locals.statement
          span= locals.statementDesc
        header
        div.container
          div.row
            div.1u &nbsp;
            div.10u
              section.text!= page.html
            div.1u &nbsp;

    // Contact
    div.wrapper.wrapper-style4
      article#contact
        header
          h2 Kapcsolódj be a munkába!
          span A munka önkéntes és nyílt. Munkáddal hozzájárulsz az egyszerűbb, és érthetőbb kormányzati informatikához!
        div
          div.row.row-special
            div.12u
              h3 Itt megtalálsz minket...
                ul.social
                  li.twitter
                    a(href="http://twitter.com/n33co", class="icon icon-twitter")
                      span Twitter
                  li.github
                    a(href="http://github.com/n33", class="icon icon-github")
                      span Github
        footer
          p#copyright
            a(rel="license", href="http://creativecommons.org/licenses/by/2.5/hu/deed.en_US")
              img(alt="Creative Commons License", style="border-width:0", src="http://i.creativecommons.org/l/by/2.5/hu/80x15.png")
            br
            &copy;
            span(xmlns:dct="http://purl.org/dc/terms/", href="http://purl.org/dc/dcmitype/Text", property="dct:title", rel="dct:type")
                | OpenGov.hu teljes tartalma a&nbsp;
                a(rel="license", href="http://creativecommons.org/licenses/by/2.5/hu/deed.en_US") Creative Commons Attribution 2.5 Hungary License
                | &nbsp;alá tartozik.
                | Minden további névjegy és márkanév a megfelelő birtokosuk tulajdona.
                | Az oldal megjelenésére a Creative Commons Attribution 3.0 Unported licensz vonatkozik:
                | Images:&nbsp;
                a(href="http://fotogrph.com") fotogrph
                | &nbsp;Design:&nbsp;
                a(href="http://html5up.net/") HTML5 UP
