doctype html
html(lang='hu')
  head
    base(href="/")
    meta(charset='utf-8')
    meta(description=page.desc)
    title= page.title
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    script(src="/js/jquery-1.9.1.min.js")
    script(src="/js/config.js")
    script(src="/js/skel.min.js")
    script(src="/js/moment.min.js")
    noscript
      link(rel="stylesheet", href="/css/skel-noscript.css")
      link(rel="stylesheet", href="/css/style.css")
      link(rel="stylesheet", href="/css/style-desktop.css")
    //if lte IE 9
      link(rel="stylesheet", href="/css/ie9.css")
    //if lte IE 8
      script(src="js/html5shiv.js")
      link(rel="stylesheet", href="/css/ie8.css")
    //if lte IE 7
      link(rel="stylesheet", href="/css/ie7.css")
    link(rel="stylesheet", href="/css/opengov.css")

  body
    // Nav
    nav(id="nav")
      ul
        li.logo
          =locals.site

    // Home
    div.wrapper.wrapper-style1.wrapper-first
      article#top.container
        .row
          .4u
            span.me.image.image-full
              img(src="/images/tudas.jpg", alt="")
          .8u
            header
              p= page.metadata.desc
              h1
                strong= page.title
              p
                = page.metadata.preface

    // Content
    block content
      div.wrapper.wrapper-style1
        article#work
          header
            h2= locals.statement
            span= locals.statementDesc
          header
          div.container
            div.row
              div.1u &nbsp;
              div.10u
                section.text!= page.html
              div.1u &nbsp;

    include includes/footer
